<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <!--====== Title ======-->
    <title>Welcome to our website project!</title>
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
</head>

<body>

    <section class="navbar-area">
    {% include 'home/navbar.html.twig' %}
    </section>

    <section id="home" class="slider_area">
        <div id="carouselThree" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-auto col-md-auto">
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    <img src="{{asset('images/slider/2.png')}}" >
                                    <br>
                                    <br> 
                            </div>
                        </div> <!-- row -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Our Services</h3>
                        <p class="text">Stop wasting time remembering on wich episode your where on such a serie. Happiness guaranteed!</p>
                    </div>
                </div>
            </div><br>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Custom Series Tracking</a></h4>
                            
                            <div class="features-icon">
                                <i class="lni lni-brush"></i>
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Be able to track and automaticaly remember the episode of a serie you're following</p>
                            <a class="features-btn" href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">Quite a Large Catalog</a></h4>
                            <div class="features-icon">
                                <i class="lni lni-layout"></i>
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">More than 200 series are referenced and it's up to you to suggest for other series to add to the website !</p>
                            <a class="features-btn" href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="features-title-icon d-flex justify-content-between">
                            <h4 class="features-title"><a href="#">An Ergonomic Design</a></h4>
                            <div class="features-icon">
                                <i class="lni lni-bolt"></i>
                            </div>
                        </div>
                        <div class="features-content">
                            <p class="text">Don't waste any time thanks to our efficient search engine system which allows you to quickly find what you want</p>
                            <a class="features-btn" href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>

</html>