{{ form_start(ratingForm) }}
    {{ form_row(ratingForm.rating) }}
    {{ form_row(ratingForm.comment) }}
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
{{ form_end(ratingForm) }}