{{ form_start(notWatchedForms[episode.id]) }}
    {{ form_row(notWatchedForms[episode.id].watched) }}
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
{{ form_end(notWatchedForms[episode.id]) }}