{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <section class="navbar-area p-3 mb-2 bg-primary text-white">
        {% include 'home/navbar.html.twig' %}
    </section>
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron text-center" >    
        <div class="container">
            <h1>Add new serie</h1>

            {{ include('admin/_add_form.html.twig') }}
            {% if exist == true %}
                <script>
                    alert("The serie is already in the base !");
                </script>
            {% endif %}

        </div>
        <br>
        <a href="{{ path('admin_panel') }}" class="btn btn-outline-primary">Go Back</a>
    </div>
    
{% endblock %}
