{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

<p>Authors : Chabrier Julien and Degail Dylan</p>

<p>What did we do? :</p>
<ul>
    <li>Les épisodes et saisons dans la page "show"</li>
    <li>Le système de register/login/logout avec encodage du password dans la BD</li>
    <li>Un captcha fonctionnelle pour améliorer la sécurité du site</li>
</ul>
<br><hr><br>
<p>Difficulties? :</p>
<ul>
    <li>To know how to recognize precisly a form between each form in "myseries" page</li> 

</ul>


{% endblock %}