{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <style>
        * {
            margin:0;padding:0;
        }
        body {
            margin: auto;
            font-family:sans-serif;
        }
        td, th {
            border-bottom:1px solid #aaa;
            padding:5px;
        }
        table tr:nth-child(even) {
            background-color:#fafafa;
        }
        thead th {
            font-size:80%;
        }
        th {
            font-weight:normal;
            text-align:left;
        }
        tbody tr td:nth-child(4) {
            text-align:center;
            font-size:24px;
            text-shadow:1px 1px 1px  black;
        }
    </style>
    <section class="navbar-area p-3 mb-2 bg-primary text-white">
        {% include 'home/navbar.html.twig' %}
    </section>
    <br>
    <br>
    <br>
    <br>
    <div class="jumbotron text-center" >
        <div class="container">
            <h1>Group : S3A</h1>
            <h2>CHABRIER Julien - DEGAIL Dylan</h2>
            <br>
            <table>
                <thead class="bg-primary text-white">
                    <tr>
                        <th width="500px">Features
                        </th><th width="50px">Not&nbsp;implemented
                        </th><th width="50px">Not&nbsp;Finished
                        </th><th width="50px">Operational
                        </th><th width="500px">Comment (optional)
                    </th></tr>
                </thead>
                <tbody>
                    <tr>
                        <th>An home page introducing the website</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>An easy menu to navigate through the website</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>An about page, descibing the done work and specifying the website's authors and eventually the difficulties encountered</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>A paged page displaying the whole database serie's list. It has to be possible to search for a serie</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>Huge difficulty with the search form. Firstly done with html but has required some efforts to turn it into a symfony form (mainly with the sort).</td>
                    </tr>
                    <tr>
                        <th>The possibility to navigate through serie's seasons, and then in episodes</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>We've taken the principle of the series display. Thus for each series, seasons are listed and clickable and same for the episodes, they're listed and clickable.</td>
                    </tr>
                    <tr>
                        <th>Everytime it's relevant, display the serie's poster</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>We've judged relevant to display the poster in the series list page, in all the serie's pages and also in the user series list.</td>
                    </tr>
                    <tr>
                        <th>Everytime it's relevant, display the<em>YouTube</em> trailer</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>We've judged relevant to display the Youtube trailer in every serie's page (iframe) and in the user series list (bouton).</td>
                    </tr>
                    <tr>
                        <th>Everytime it's relevant, display the serie's or episode's <em>IMDB</em> page link</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>We've judged relevant to display the IMDB page link in every serie's and episode's page, and also in the user series list.</td>
                    </tr>
                    <tr>
                        <th>The possibility for a user to sign in and login with a session tracking</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Respect of the basics security mesures (password non-clearly stored, CAPTCHA in sign in...)</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>Adding CPTCHA with the gregwar bundle</td>
                    </tr>
                    <tr>
                        <th>Being sign and logged in only, possibility to rate a serie, and adding and optional comment (<kbd>rating</kbd> table)</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>A user can post only one comment by serie (to prevent spam). We've add the possibility to delete it's own comment. There isn't an edit option (Editing is basicaly delete and rewrite its comment)</td>
                    </tr>
                    <tr>
                        <th>Being sign and logged in only, possibility to sort series by average rate (ascending or descending) using the users rates posted on the website</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>Difficulty here to gather the serie ratings to compute the average (Firstly done with associative arrays and so much sql queries)</td>
                    </tr>
                    <tr>
                        <th>Being sign and logged in only, possibility to follow series (with the table <kbd>user_series</kbd>) and these series are accessible
                        </th><td></td>
                        <td></td>
                        <td>X</td>
                        <td>Difficulty to know how to recognize accuratly a form between each form in the "my_series" page</td>
                    </tr>
                    <tr>
                        <th>Being sign and logged in only, possibility to label an episode as watched or not. Like that, the user can visualize his advandcement in his serie watching. it's relevant to put this information in the season page</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td>Difficulty to manipulate Collection/Object[] type which are returned by getEpisodes() for example</td>
                    </tr>
                    <tr>
                        <th>An admin can moderate comments by deleting them</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>An admin can add new series to the database with the <em>OMDB</em> API</th>
                        <td></td>
                        <td></td>
                        <td>X</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}